{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository file list">
	{{template "repo/header" .}}
	<div class="ui container">
		{{if $.CodeIndexerDisabled}}
			{{$branchURLPrefix := printf "%s/search/branch/" $.RepoLink}}
			{{$tagURLPrefix := printf "%s/search/tag/" $.RepoLink}}
			{{$suffix := printf "?q=%s&fuzzy=%t" (.Keyword|QueryEscape) .IsFuzzy}}
			{{template "repo/branch_dropdown" dict "root" . "ContainerClasses" "tw-mb-3" "branchURLPrefix" $branchURLPrefix "branchURLSuffix" $suffix "tagURLPrefix" $tagURLPrefix "tagURLSuffix" $suffix}}
		{{end}}
		{{template "shared/search/code/search" .}}
	</div>
</div>
{{template "base/footer" .}}
