# This file describes the expected reviewers for a PR based on the changed
# files. Unlike what the name of the file suggests they don't own the code, but
# merely have a good understanding of that area of the codebase and therefore
# are usually suited as a reviewer.


# Please mind the alphabetic order of reviewers.

# Files related to the CI of the Forgejo project.
.forgejo/.* @dachary @earl-warren

# Files related to frontend development.

# Javascript and CSS code.
web_src/.* @caesar @crystal @gusted

# HTML templates used by the backend.
templates/.* @caesar @crystal @gusted

# Files related to Go development.

# The modules usually don't require much knowledge about Forgejo and could
# be reviewed by Go developers.
modules/.* @dachary @earl-warren @gusted

# Models has code related to SQL queries, general database knowledge and XORM.
models/.* @dachary @earl-warren @gusted

# The routers directory contains the most amount code that requires a good grasp
# of how Forgejo comes together. It's tedious to write good integration testing
# for code that lives in here.
routers/.* @dachary @earl-warren @gusted
