{{if .Results}}
    {{range .Results}}
        <a class="item" href="{{$.RepoLink}}/wiki/{{.Filename}}">
            <b class="tw-block tw-mb-2">{{.Filename}}</b>
            {{range .LineCodes}}
                <p class="tw-my-0">{{.}}</p>
            {{end}}
        </a>
    {{end}}
{{else}}
    <div class="item muted">{{ctx.Locale.Tr "repo.wiki.no_search_results"}}</div>
{{end}}
