{{if and .ShowRole.IsPoster (not .IgnorePoster)}}
	<div class="ui basic label role-label" data-tooltip-content="
		{{if .IsPull}}
			{{ctx.Locale.Tr "repo.issues.author.tooltip.pr"}}
		{{else}}
			{{ctx.Locale.Tr "repo.issues.author.tooltip.issue"}}
		{{end}}">
		{{ctx.Locale.Tr "repo.issues.author"}}
	</div>
{{end}}
{{if .ShowRole.RoleInRepo}}
	<div class="ui basic label role-label" data-tooltip-content="{{.ShowRole.RoleInRepo.LocaleHelper ctx.Locale}}">
		{{.ShowRole.RoleInRepo.LocaleString ctx.Locale}}
	</div>
{{end}}
