<div class="issue-content-right ui segment">
	{{template "repo/issue/view_content/sidebar/branch_selector_field" .}}
	{{if .Issue.IsPull}}
		{{template "repo/issue/view_content/sidebar/pull_review" .}}
		{{template "repo/issue/view_content/sidebar/pull_wip" .}}
		<div class="divider"></div>
	{{end}}

	{{template "repo/issue/labels/labels_selector_field" .}}
	{{template "repo/issue/labels/labels_sidebar" dict "root" $}}

	<div class="divider"></div>

	{{template "repo/issue/view_content/sidebar/milestones" .}}
	<div class="divider"></div>

	{{template "repo/issue/view_content/sidebar/projects" .}}
	<div class="divider"></div>

	{{template "repo/issue/view_content/sidebar/assignees" .}}
	<div class="divider"></div>

	{{if .Participants}}
		{{template "repo/issue/view_content/sidebar/participants" .}}
	{{end}}

	{{if and $.IssueWatch (not .Repository.IsArchived)}}
		<div class="divider"></div>

		{{template "repo/issue/view_content/sidebar/watch" .}}
	{{end}}

	{{if .Repository.IsTimetrackerEnabled $.Context}}
		{{template "repo/issue/view_content/sidebar/timetracking" .}}
	{{end}}

	<div class="divider"></div>
	{{template "repo/issue/view_content/sidebar/due_deadline" .}}

	{{if .Repository.IsDependenciesEnabled $.Context}}
		<div class="divider"></div>

		{{template "repo/issue/view_content/sidebar/dependencies" .}}
	{{end}}

	<div class="divider"></div>
	{{template "repo/issue/view_content/sidebar/reference" .}}

	{{if and .IsRepoAdmin (not .Repository.IsArchived)}}
		<div class="divider"></div>

		{{template "repo/issue/view_content/sidebar/actions" .}}
	{{end}}

	{{if and .Issue.IsPull .IsIssuePoster (not .Issue.IsClosed) .Issue.PullRequest.HeadRepo}}
		{{if and (not (eq .Issue.PullRequest.HeadRepo.FullName .Issue.PullRequest.BaseRepo.FullName)) .CanWriteToHeadRepo}}
			<div class="divider"></div>
			<div class="inline field">
				<div class="ui checkbox loading-icon-2px" id="allow-edits-from-maintainers"
						data-url="{{.Issue.Link}}"
						data-tooltip-content="{{ctx.Locale.Tr "repo.pulls.allow_edits_from_maintainers_desc"}}"
						data-prompt-error="{{ctx.Locale.Tr "repo.pulls.allow_edits_from_maintainers_err"}}"
					>
					<label><strong>{{ctx.Locale.Tr "repo.pulls.allow_edits_from_maintainers"}}</strong></label>
					<input type="checkbox" {{if .Issue.PullRequest.AllowMaintainerEdit}}checked{{end}}>
				</div>
			</div>
		{{end}}
	{{end}}
</div>
