<input id="reviewer_id" name="reviewer_id" type="hidden" value="{{.reviewer_id}}">
<div class="ui {{if or (and (not .Reviewers) (not .TeamReviewers)) (not .CanChooseReviewer) .Repository.IsArchived}}disabled{{end}} floating jump select-reviewers-modify dropdown">
	<a class="text tw-flex tw-items-center muted">
		<strong>{{ctx.Locale.Tr "repo.issues.review.reviewers"}}</strong>
		{{if and .CanChooseReviewer (not .Repository.IsArchived)}}
			{{svg "octicon-gear" 16 "tw-ml-1"}}
		{{end}}
	</a>
	<div class="filter menu" data-action="update" data-issue-id="{{$.Issue.ID}}" data-update-url="{{$.RepoLink}}/issues/request_review">
		{{if .Reviewers}}
			<div class="ui icon search input">
				<i class="icon">{{svg "octicon-search" 16}}</i>
				<input type="text" placeholder="{{ctx.Locale.Tr "repo.issues.filter_reviewers"}}">
			</div>
		{{end}}
		{{if .Reviewers}}
			{{range .Reviewers}}
				{{if .User}}
					<a class="{{if not .CanChange}}ui{{end}} item {{if .Checked}}checked{{end}} {{if not .CanChange}}ban-change{{end}}" href="#" data-id="{{.ItemID}}" data-id-selector="#review_request_{{.ItemID}}" {{if not .CanChange}} data-tooltip-content="{{ctx.Locale.Tr "repo.issues.remove_request_review_block"}}"{{end}}>
						<span class="octicon-check {{if not .Checked}}tw-invisible{{end}}">{{svg "octicon-check"}}</span>
						<span class="text">
							{{ctx.AvatarUtils.Avatar .User 28 "tw-mr-2"}}{{template "repo/search_name" .User}}
						</span>
					</a>
				{{end}}
			{{end}}
		{{end}}
		{{if .TeamReviewers}}
			{{if .Reviewers}}
				<div class="divider"></div>
			{{end}}
			{{range .TeamReviewers}}
				{{if .Team}}
					<a class="{{if not .CanChange}}ui{{end}} item {{if .Checked}}checked{{end}} {{if not .CanChange}}ban-change{{end}}" href="#" data-id="{{.ItemID}}" data-id-selector="#review_request_team_{{.Team.ID}}" {{if not .CanChange}} data-tooltip-content="{{ctx.Locale.Tr "repo.issues.remove_request_review_block"}}"{{end}}>
						<span class="octicon-check {{if not .Checked}}tw-invisible{{end}}">{{svg "octicon-check" 16}}</span>
						<span class="text">
							{{svg "octicon-people" 16 "tw-ml-4 tw-mr-1"}}{{$.Issue.Repo.OwnerName}}/{{.Team.Name}}
						</span>
					</a>
				{{end}}
			{{end}}
		{{end}}
	</div>
</div>
{{template "repo/issue/view_content/sidebar/pull_reviewers" .}}
