<div class="flex-list">
	{{range .BlockedUsers}}
		<div class="flex-item flex-item-center">
			<div class="flex-item-leading">
				{{ctx.AvatarUtils.Avatar . 48}}
			</div>
			<div class="flex-item-main">
				<div class="flex-item-title">
					{{template "shared/user/name" .}}
				</div>
				<div class="flex-item-body">
					<span>{{ctx.Locale.Tr "settings.blocked_since" (DateTime "short" .CreatedUnix)}}</span>
				</div>
			</div>
			<div class="flex-item-trailing">
				<form action="{{$.Link}}/unblock" method="post">
					{{$.CsrfTokenHtml}}
					<input type="hidden" name="user_id" value="{{.ID}}">
					<button class="ui red button">{{ctx.Locale.Tr "user.unblock"}}</button>
				</form>
			</div>
		</div>
	{{else}}
		<div class="flex-item">
			<span class="text grey italic">{{ctx.Locale.Tr "settings.blocked_users_none"}}</span>
		</div>
	{{end}}
</div>
