@import "./theme-forgejo-light.css";

:root {
  --color-diff-removed-word-bg: #ffd0ce;
  --color-diff-removed-row-border: #ffd0ce;
  --color-diff-removed-row-bg: #fff5f4;
  --color-diff-added-word-bg: #b1dbff;
  --color-diff-added-row-border: #eef9ff;
  --color-diff-added-row-bg: #eef9ff;
  --color-code-bg: #ffffff;
}
