@import "./theme-forgejo-dark.css";

:root {
  --color-diff-removed-word-bg: #792E2E;
  --color-diff-removed-row-border: #792E2E;
  --color-diff-removed-row-bg: #25171C;
  --color-diff-added-word-bg: #214D88;
  --color-diff-added-row-border: #214D88;
  --color-diff-added-row-bg: #13233A;
  --color-code-bg: #0D1117;
}
