{{range .RecentlyPushedNewBranches}}
	<div class="ui positive message tw-flex tw-items-center">
		<div class="tw-flex-1">
			{{$timeSince := TimeSince .CommitTime.AsTime ctx.Locale}}
			{{$repo := .GetRepo $.Context}}
			{{$name := .Name}}
			{{if ne $repo.ID $.Repository.ID}}
				{{$name = (print $repo.FullName ":" .Name)}}
			{{end}}
			{{$branchLink := (print ($repo.Link) "/src/branch/" (PathEscapeSegments .Name))}}
			{{ctx.Locale.Tr "repo.pulls.recently_pushed_new_branches" $name $timeSince $branchLink}}
		</div>
		<a role="button" class="ui compact positive button tw-m-0" href="{{$.Repository.ComposeBranchCompareURL $.Repository.BaseRepo $name}}">
			{{ctx.Locale.Tr "repo.pulls.compare_changes"}}
		</a>
	</div>
{{end}}
